/* ?FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Passion+One&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !Hero */
.hero {
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: 100vw 200vw;
  background-position: top 5vw;
  width: 100vw;
  height: 200vw;
  overflow: hidden;
}

.hero-title {
  /* border: 5px solid red; */
  color: #fff;
  text-align: center;
}

.hero-title h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 8vw;
  padding: 15vw 7vw 3vw 7vw;
}

.hero-title p {
  font-family: "Didact Gothic", sans-serif;
  font-size: 4vw;
  padding: 0vw 8vw 4vw 8vw;
}

/* !Mola */
.mola {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* !Player */
.player-container {
  /* border: red solid 5px; */
  width: 100vw;
  height: 150vw;
}

.player-container img {
  position: relative;
}

#salah {
  top: 8vw;
  z-index: 2;
  width: 58vw;
}

#messi {
  width: 70vw;
  bottom: 112vw;
  left: 15vw;
  z-index: 1;
}

#ronaldo {
  bottom: 235vw;
  left: 25vw;
  width: 75vw;
  z-index: 3;
}

#cta-button {
  width: 85vw;
  height: 25vw;
  background-color: #0072b1;
  color: #fff;
  font-family: "Passion One", cursive;
  font-size: 9vw;
  position: absolute;
  z-index: 5;
  border: none;
  border-radius: 15px;
  bottom: -5vw;
  left: 50%;
  transform: translate(-50%, 0);
}
